.chips{
    p{
        color: var(--primary-color) !important;
        font-size: 0.8em;
        margin: 0.3em;
        padding: 0.1em 1em;
    }
    background: var(--primary);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    border-radius: 30px;
    -webkit-box-shadow:0px 0px 16px 0px rgba(0,166,232,0.4) !important;
    -moz-box-shadow: 0px 0px 16px 0px rgba(0,166,232,0.4) !important;
    box-shadow: 0px 0px 16px 0px rgba(0,166,232,0.4) !important;
}

@media (min-width: 1174px) {


}

@media (min-width: 574px) and (max-width: 1173.99px){

}

@media (min-width: 0px) and (max-width: 573.99px){
    .chips{
        p{
            font-size: 0.8em !important;
            font-weight: 700 !important;
        }
    }

}