@media (max-width: 574px) {
    .btn{
        width: 100% !important;
    }
}

@media (min-width: 1174px) {
    .btn{
        width: 50% !important;
    }
}

.top-bar{
    z-index: 1000;
    height: var(--top-bar-size);
    margin: 0;
    width: 100%;
    position: fixed;
    background: rgba(125, 234, 246, 0.05);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
}

.page-content{
    z-index: -1000;
}

.btn{
    background-color: rgba(0, 126, 232, 0.4) !important;
    -webkit-backdrop-filter: blur(10px) !important;
    backdrop-filter: blur(10px) !important;
    color: #eaeaea !important;
    width: 100%;
    height: 80%;
    -webkit-box-shadow:0px 0px 16px 0px rgba(0,166,232,0.4) !important;
    -moz-box-shadow: 0px 0px 16px 0px rgba(0,166,232,0.4) !important;
    box-shadow: 0px 0px 16px 0px rgba(0,166,232,0.4) !important;
}

.btn:hover{
    background-color: rgba(0, 126, 232, 0.6) !important;
    color: #eaeaea !important;
    -webkit-box-shadow:0px 0px 23px 4px rgba(0,166,232,0.6) !important;
    -moz-box-shadow: 0px 0px 23px 4px rgba(0,166,232,0.6) !important;
    box-shadow: 0px 0px 23px 4px rgba(0,166,232,0.6) !important;
}

.service{
    cursor: pointer;
}

.burger-icon{
    color: var(--primary-color);
}


.language-item{
    img{
        border-radius: 7px;
    }
}

/*.css-hfutr2-MuiSvgIcon-root-MuiSelect-icon{*/
/*    color: var(--primary-color) !important;*/
/*}*/

.MuiSvgIcon-root{
    color: var(--primary-color) !important;
}

.MuiSelect-icon{
    color: var(--primary-color) !important;
}

/*.css-bpeome-MuiSvgIcon-root-MuiSelect-icon{*/
/*    color: var(--primary-color) !important;*/
/*}*/

.MuiSvgIcon-root{
    color: var(--primary-color) !important;
}

.MuiSvgIcon-root{
    color: var(--primary-color) !important;
}

/*.css-1yk1gt9-MuiInputBase-root-MuiOutlinedInput-root-MuiSelect-root{*/
/*    color: var(--primary-color) !important;*/
/*}*/

.MuiInputBase-root{
    color: var(--primary-color) !important;
}

.MuiOutlinedInput-root{
    color: var(--primary-color) !important;
}
.MuiSelect-root{
    color: var(--primary-color) !important;
}

/*.css-3dzjca-MuiPaper-root-MuiPopover-paper-MuiMenu-paper{*/
/*    background: rgba(125, 234, 246, 0.05) !important;*/
/*    -webkit-backdrop-filter: blur(10px) !important;*/
/*    backdrop-filter: blur(10px) !important;*/
/*    color: var(--primary-color) !important;*/
/*}*/

.MuiPaper-root{
    background: rgba(125, 234, 246, 0.05) !important;
    -webkit-backdrop-filter: blur(10px) !important;
    backdrop-filter: blur(10px) !important;
    color: var(--primary-color) !important;
}

.MuiPopover-paper{
    background: rgba(125, 234, 246, 0.05) !important;
    -webkit-backdrop-filter: blur(10px) !important;
    backdrop-filter: blur(10px) !important;
    color: var(--primary-color) !important;
}

.MuiMenu-paper{
    background: rgba(125, 234, 246, 0.05) !important;
    -webkit-backdrop-filter: blur(10px) !important;
    backdrop-filter: blur(10px) !important;
    color: var(--primary-color) !important;
}

/*.css-11u53oe-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input{*/
/*    padding: 0 30px 0 0 !important;*/
/*}*/
.MuiOutlinedInput-input{
    padding: 0 30px 0 0 !important;
}

.MuiInputBase-input{
    padding: 0 30px 0 0 !important;
}

.MuiSelect-select{
    padding: 0 30px 0 0 !important;
}

/*.css-1d3z3hw-MuiOutlinedInput-notchedOutline{*/
/*    border: none !important;*/
/*}*/

.MuiOutlinedInput-notchedOutline{
    border: none !important;
}